<settings>

    <setting propertyKey="@Properties.PrimaryColor" title="@Strings.PrimaryColor">
        <settingConfig type="list">
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0xc8793c">@Strings.ColorSand</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.SecondaryColor" title="@Strings.SecondaryColorTitle">
        <settingConfig type="list">
            <listEntry value="0xc8793c">@Strings.ColorSand</listEntry>
            <!-- <listEntry value="0x000000">@Strings.ColorBlack</listEntry> -->
            <listEntry value="0x0000FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.UseMilitaryFormat" title="@Strings.MilitaryFormatTitle">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.UseSecondsCircle" title="@Strings.UseSecondsCircle">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.UseBoldFont" title="@Strings.UseBoldFont">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.DisplayIcons" title="@Strings.DisplayIcons">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.BottomComplication" title="@Strings.BottomComplication">
        <settingConfig type="list">
            <listEntry value="1">@Strings.heartRate</listEntry>
            <listEntry value="2">@Strings.Steps</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.ShowBattery" title="@Strings.ShowBattery">
        <settingConfig type="boolean" />
    </setting>
</settings>
